export(aggregate2,
       CBIND,
       dfcols.list,
       LinearizeNestedList,
       load.scripts.and.data,
       makemeNA,
       mv,
       round2,
       SampleToSum,
       subsequence,
       unlistDF,
       FacsToChars,
       RBIND)
S3method(print, subSequence)
S3method(print, sampletosum)